body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: darkslateblue;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#videoPlayer {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

input{
    background-color: transparent;
}